:root {
    --primary-brand-color: #7054fc;
    --primary-brand-gradient: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(112,84,252,1) 32%, rgba(105,92,252,1) 100%);
    --white-mode-bg: #e5e5e5;
    --red: #f80000;
    --font-size: 16px;
    --header-height: 70px;
    --border-light-drop-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --border-dark-drop-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --button-light-drop-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --button-light-drop-shadow-active: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: local("SF Pro Text"), url("../../../public/fonts/SF-Pro.ttf") format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a:hover, a:focus, a:hover, a:active {
    text-decoration: none;
    color: var(--primary-brand-color);
    font-weight: bold;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
    font-family: "SF Pro Text";
}

.hidden {
    visibility: hidden;
}

hr.dotted {
    border-top: 1px dotted;
    border-bottom: none;
}

.highlighted {
    font-weight: bold;
    color: var(--primary-brand-color);
}

.light-button {
    color: var(--primary-brand-color);
    border: none;
    font-weight: bold;
    box-shadow: var(--button-light-drop-shadow);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    padding: 0.5em 1em;
}

.light-button:active {
    box-shadow: var(--button-light-drop-shadow-active);
}