@font-face {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: local("SF Pro Text"), url("../../../public/fonts/SF-Pro.ttf") format("truetype")
}